@charset "utf-8";
@import "../_structural/commonFunctions";
@import "../_partial/globalVariables";

.PageTop {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.PageTop-background {
	height: 100%;
	position: absolute;
	left: 0;
	overflow: hidden;
	top: 0;
	width: 100%;
}

.PageTop-image {
	align-items: center;
	border: 4px solid $primary;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	height: 230px;
	margin: 0 auto 50px auto;
	overflow: hidden;
	width: 230px;

	img {
		width: 100%;
	}
}

.PageTop-content {
	border-radius: 4px;
	max-width: 700px;
	padding: 30px 50px;
	position: relative;
	width: 100%;
	z-index: 5;
}

.PageTop-ContentSubTitle {
	color: #333;
	font-family: robotomono-medium, $fontOptions;
	font-size: 18px;
	line-height: 24px;
	margin: 20px 0;
	text-align: center;
	a {
		color: $electricViolet;
	}
}

.PageTop-socialMedias {
	display: flex;
	justify-content: space-between;
	margin: 40px auto 0 auto;
	width: 180px;

	a {
		border-radius: 3px;
		display: block;
		height: 35px;
		width: 35px;

		&.email {
			background: url(../../images/icon/email.svg) center center no-repeat $primary;
      background-size: 23px;
		}

		&.twitter {
			background: url(../../images/icon/twitter.svg) center center no-repeat $primary;
			background-size: 23px;
		}
		
		&.github {
			background: url(../../images/icon/github.svg) center center no-repeat $primary;
			background-size: 25px;
		}

		&.codepen {
			background: url(../../images/icon/codepen.svg) center center no-repeat $primary;
			background-size: 25px;
		}
	}
}
