@charset "utf-8";
@import "../_structural/alnsStruCommonFunction";
@import "../_partial/globalVariables";
@import "../_partial/pageTop";

@import "../_partial/portfolio";

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.NewDesign {
	background: white;
	overflow: hidden;
	
	p {
		color: $mineShaft;
		font-family: robotomono-regular, $fontOptions;
		line-height: 24px;
		margin: 0 0 15px 0;
		text-align: center;

		@include media-query(sm) {
			font-size: 16px;
			margin: 0 0 30px 0;
		}
		
		.heart {
			animation: pulse 1s ease infinite;
			width: 15px;
			
			path{
				fill: red;
			}
		}
	}
}

.NewDesign-Text {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 60px 0;

	@include media-query(md) {
		padding: 90px 0;
	}

	h3 {
		color: $bittersweet;
		font-family: robotomono-bold, $fontOptions;
		font-size: 14px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;

		@include media-query(sm) {
			text-align: left;
		}

		@include media-query(md) {
			font-size: 16px;
		}
	}

	h2 {
		color: $rhino;
		font-family: robotomono-medium, $fontOptions;
		font-size: 25px;
		margin: 0 0 35px 0;
		text-align: center;

		@include media-query(md) {
			font-size: 40px;
			margin: 0 0 50px 0;
		}

		span {
			color: $bittersweet;
		}
	}
}

.NewDesign-TextBlocks {
	@include media-query(md) {
		padding: 0 110px;
	}
}

.NewDesign-TextBlock {
	padding: 0 15px;

	@include media-query(md) {
		width: 33.3%;
	}

	h3, p {
		text-align: center;
	}
}