@charset "utf-8";
@import "../_structural/alnsStruCommonFunction";
@import "globalVariables";

.Footer {
	background: $wildSand;
	float: left;
	padding: 15px 0;
	width: 100%;

	p {
		font-family: robotomono-light, $fontOptions;
		font-size: 11px;
		text-align: center;

		a {
			color: $rhino;
		}
	}
}
