@charset "utf-8";
@import "../_structural/alnsStruCommonFunction";
@import "globalVariables";

.PageTop {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 130px 0 87px 0;
	position: relative;
	overflow: hidden;

	@include media-query(md) {
		height: 100vh;
		padding: 0;
	}
}

.PageTop-background {
	background-position: center center;
	background-size: cover;
	height: 40rem;
	position: absolute;
	left: 0;
	overflow: hidden;
	top: 0;
	width: 100%;

	@include media-query(sm){
		height: 360px;
	}

	@include media-query(md) {
		height: 100%;
	}
}

.PageTop-content {
	position: relative;
	z-index: 5;
}

.PageTop-ContentTitle,
.PageTop-ContentSubTitle {
	color: white;
	font-family: robotomono-medium, $fontOptions;
	font-size: 30px;
	text-align: center;

	@include media-query(md) {
		font-size: 65px;
	}
}

.PageTop-ContentSubTitle {
		font-size: 22px;
		margin: 15px 0 0 0;

		@include media-query(md) {
			font-size: 26px;
			margin: 20px 0 0 0;
		}
	}

	.PageTop-socialMedias {
		display: flex;
		justify-content: space-between;
		margin: 20px auto 0 auto;
		width: 120px;

		a {
			border-radius: 3px;
			display: block;
			height: 35px;
			width: 35px;

			&.facebook {
				background: url(../../images/icon/facebook.svg) center center no-repeat $rhino;
				background-size: 23px;
			}

			&.github {
				background: url(../../images/icon/github.svg) center center no-repeat $rhino;
				background-size: 25px;
			}

			&.codepen {
				background: url(../../images/icon/codepen.svg) center center no-repeat $rhino;
				background-size: 25px;
			}
		}
	}
